{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <table class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th scope="col">Days</th>
            <th scope="col">10:00 - 12:00</th>
            <th scope="col">13:00 - 16:00</th>
            <th scope="col">16:00 - 19:00</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Monday <br> {{ weekdays(0)}}</th>
            <td>{{ shifts.mon1 }}</td>
            <td>{{ shifts.mon2 }}</td>
            <td>{{ shifts.mon3 }}</td>
          </tr>
          <tr>
            <th scope="row">Tuesday <br> {{ weekdays(1)}}</th>
            <td>{{ shifts.tues1 }}</td>
            <td>{{ shifts.tues2 }}</td>
            <td>{{ shifts.tues3 }}</td>
          </tr>
          <tr>
            <th scope="row">Wednesday <br> {{ weekdays(2)}}</th>
            <td>{{ shifts.wed1 }}</td>
            <td>{{ shifts.wed2 }}</td>
            <td>{{ shifts.wed3 }}</td>
          </tr>
          <tr>
            <th scope="row">Thursday <br> {{ weekdays(3)}}</th>
            <td>{{ shifts.thurs1 }}</td>
            <td>{{ shifts.thurs2 }}</td>
            <td>{{ shifts.thurs3 }}</td>
          </tr>
          <tr>
            <th scope="row">Friday <br> {{ weekdays(4)}}</th>
            <td>{{ shifts.fri1 }}</td>
            <td>{{ shifts.fri2 }}</td>
            <td>{{ shifts.fri3 }}</td>
          </tr>
          <tr>
            <th scope="row">Saturday <br> {{ weekdays(5)}}</th>
            <td>{{ shifts.sat1 }}</td>
            <td>{{ shifts.sat2 }}</td>
            <td>{{ shifts.sat3 }}</td>
          </tr>  
        </tbody>
      </table>
    </div>
{% endblock content %}
